body {
display:grid;
place-items:center;
  height: 90vh;
  background: #00bf8f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #001510,
    #00bf8f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #001510,
    #00bf8f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: Arial, sans-serif;
}

form {
  width: 40%;
  height: 30rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 6px 0 rgba(31, 38, 135, 0.37);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
}

input,
textarea {
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color:white;
  display: block;
}


input::placeholder, textarea::placeholder{
  color:darkgrey;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

button {
  background: linear-gradient(to right, #6a3093, #a044ff);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

/* form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

button {
  background-color: #0079bf;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #005c91;
}
